
<div class="jumbotron welcome">
  <h1>Hello, students!</h1>
  <p>You can register here and can add your details on our website.</p>
  <%= link_to 'Sign Up', "#", class:"btn btn-primary btn-lg" %>
</div>
